<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /zoomphone/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /zoomphone/index.html [L]
</IfModule>